<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table.css') }}">
</head>

<body>
{% block content %}
    <table>
        <caption>Registered Client Info</caption>
        <thead>
            <tr>
            {% for column in clients['columns'] %}
                <th scope="col">{{ column }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>

            {% for client in clients['clients'] %}
            <tr>
                <td>{{ client['client_name'] }}</td>
                <td>{{ client['username'] }}</td>
                <td>{{ client['machine_name'] }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}
</body>
</html>